body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2329px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:974px;
}
#u567 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:974px;
}
#u568 {
  position:absolute;
  left:2px;
  top:479px;
  width:1836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569 {
  position:absolute;
  left:544px;
  top:544px;
}
#u569_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u569_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u570 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  font-size:12px;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u569_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u569_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u572 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u573 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:70px;
}
#u574 {
  position:absolute;
  left:669px;
  top:66px;
  width:475px;
  height:70px;
}
#u575 {
  position:absolute;
  left:2px;
  top:25px;
  width:471px;
  word-wrap:break-word;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  position:absolute;
  left:1866px;
  top:212px;
  width:57px;
  height:20px;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  position:absolute;
  left:1866px;
  top:266px;
  width:463px;
  height:20px;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u580 {
  position:absolute;
  left:1866px;
  top:305px;
  width:175px;
  height:20px;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
