body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2329px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:974px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:974px;
}
#u648 {
  position:absolute;
  left:2px;
  top:479px;
  width:1836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649 {
  position:absolute;
  left:544px;
  top:544px;
}
#u649_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u649_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  font-size:12px;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u649_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u649_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:70px;
}
#u654 {
  position:absolute;
  left:669px;
  top:66px;
  width:475px;
  height:70px;
}
#u655 {
  position:absolute;
  left:2px;
  top:25px;
  width:471px;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:1866px;
  top:212px;
  width:57px;
  height:20px;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:1866px;
  top:266px;
  width:463px;
  height:20px;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  position:absolute;
  left:1866px;
  top:305px;
  width:175px;
  height:20px;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
