body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1595px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:43px;
}
#u189 {
  position:absolute;
  left:30px;
  top:20px;
  width:200px;
  height:43px;
}
#u190 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:245px;
  top:148px;
  width:700px;
  height:426px;
}
#u192 {
  position:absolute;
  left:2px;
  top:205px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u193 {
  position:absolute;
  left:385px;
  top:170px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:330px;
}
#u195 {
  position:absolute;
  left:628px;
  top:199px;
  width:283px;
  height:330px;
}
#u196 {
  position:absolute;
  left:2px;
  top:157px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:319px;
}
#u197 {
  position:absolute;
  left:595px;
  top:223px;
  width:1px;
  height:318px;
}
#u198 {
  position:absolute;
  left:2px;
  top:151px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  position:absolute;
  left:297px;
  top:256px;
  width:248px;
  height:38px;
}
#u200 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:298px;
  top:257px;
  width:246px;
  height:36px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:297px;
  top:318px;
  width:248px;
  height:38px;
}
#u203 {
  position:absolute;
  left:2px;
  top:11px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:298px;
  top:319px;
  width:246px;
  height:36px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:298px;
  top:387px;
  width:246px;
  height:40px;
}
#u206 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u207 {
  position:absolute;
  left:298px;
  top:511px;
  width:30px;
  height:30px;
}
#u208 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u209 {
  position:absolute;
  left:370px;
  top:511px;
  width:30px;
  height:30px;
}
#u210 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u211 {
  position:absolute;
  left:298px;
  top:437px;
  width:71px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u213 {
  position:absolute;
  left:487px;
  top:437px;
  width:57px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u215 {
  position:absolute;
  left:446px;
  top:227px;
  width:99px;
  height:20px;
  font-size:14px;
  text-align:center;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:2px;
}
#u217 {
  position:absolute;
  left:298px;
  top:491px;
  width:246px;
  height:1px;
  color:#999999;
}
#u218 {
  position:absolute;
  left:2px;
  top:-8px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u219 {
  position:absolute;
  left:1086px;
  top:148px;
  width:57px;
  height:20px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  position:absolute;
  left:1086px;
  top:189px;
  width:509px;
  height:20px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  white-space:nowrap;
}
