body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:735px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:279px;
  top:147px;
  width:100px;
  height:60px;
}
#u128 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:279px;
  top:270px;
  width:100px;
  height:60px;
}
#u130 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:279px;
  top:1337px;
  width:100px;
  height:60px;
}
#u132 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:279px;
  top:373px;
  width:100px;
  height:60px;
}
#u134 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:279px;
  top:474px;
  width:100px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:279px;
  top:590px;
  width:100px;
  height:60px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u139 {
  position:absolute;
  left:606px;
  top:590px;
  width:100px;
  height:60px;
}
#u140 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:279px;
  top:711px;
  width:100px;
  height:60px;
}
#u142 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:77px;
}
#u143 {
  position:absolute;
  left:528px;
  top:702px;
  width:140px;
  height:77px;
}
#u144 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:77px;
}
#u145 {
  position:absolute;
  left:528px;
  top:843px;
  width:140px;
  height:77px;
}
#u146 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:77px;
}
#u147 {
  position:absolute;
  left:528px;
  top:961px;
  width:140px;
  height:77px;
}
#u148 {
  position:absolute;
  left:2px;
  top:28px;
  width:136px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u149 {
  position:absolute;
  left:279px;
  top:852px;
  width:100px;
  height:60px;
}
#u150 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  position:absolute;
  left:279px;
  top:984px;
  width:100px;
  height:60px;
}
#u152 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  position:absolute;
  left:279px;
  top:1100px;
  width:100px;
  height:60px;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  position:absolute;
  left:279px;
  top:1225px;
  width:100px;
  height:60px;
}
#u156 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:329px;
  top:207px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u157_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u158 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:329px;
  top:330px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u159_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u160 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:329px;
  top:433px;
  width:0px;
  height:0px;
}
#u161_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u161_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u162 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:329px;
  top:534px;
  width:0px;
  height:0px;
}
#u163_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u163_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u164 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:379px;
  top:620px;
  width:0px;
  height:0px;
}
#u165_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:231px;
  height:8px;
}
#u165_seg1 {
  position:absolute;
  left:212px;
  top:-10px;
  width:20px;
  height:20px;
}
#u166 {
  position:absolute;
  left:64px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:656px;
  top:650px;
  width:0px;
  height:0px;
}
#u167_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u167_seg1 {
  position:absolute;
  left:-62px;
  top:36px;
  width:66px;
  height:8px;
}
#u167_seg2 {
  position:absolute;
  left:-62px;
  top:36px;
  width:8px;
  height:16px;
}
#u167_seg3 {
  position:absolute;
  left:-68px;
  top:37px;
  width:20px;
  height:20px;
}
#u168 {
  position:absolute;
  left:-65px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:706px;
  top:620px;
  width:0px;
  height:0px;
}
#u169_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:18px;
  height:8px;
}
#u169_seg1 {
  position:absolute;
  left:10px;
  top:-4px;
  width:8px;
  height:755px;
}
#u169_seg2 {
  position:absolute;
  left:-327px;
  top:743px;
  width:345px;
  height:8px;
}
#u169_seg3 {
  position:absolute;
  left:-332px;
  top:737px;
  width:20px;
  height:20px;
}
#u170 {
  position:absolute;
  left:-36px;
  top:529px;
  width:100px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:528px;
  top:741px;
  width:0px;
  height:0px;
}
#u171_seg0 {
  position:absolute;
  left:-149px;
  top:-4px;
  width:153px;
  height:8px;
}
#u171_seg1 {
  position:absolute;
  left:-154px;
  top:-10px;
  width:20px;
  height:20px;
}
#u172 {
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:668px;
  top:741px;
  width:0px;
  height:0px;
}
#u173_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u173_seg1 {
  position:absolute;
  left:8px;
  top:-4px;
  width:8px;
  height:522px;
}
#u173_seg2 {
  position:absolute;
  left:-289px;
  top:510px;
  width:305px;
  height:8px;
}
#u173_seg3 {
  position:absolute;
  left:-294px;
  top:504px;
  width:20px;
  height:20px;
}
#u174 {
  position:absolute;
  left:-38px;
  top:394px;
  width:100px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:329px;
  top:771px;
  width:0px;
  height:0px;
}
#u175_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u175_seg1 {
  position:absolute;
  left:-4px;
  top:55px;
  width:277px;
  height:8px;
}
#u175_seg2 {
  position:absolute;
  left:265px;
  top:55px;
  width:8px;
  height:17px;
}
#u175_seg3 {
  position:absolute;
  left:259px;
  top:57px;
  width:20px;
  height:20px;
}
#u176 {
  position:absolute;
  left:62px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:528px;
  top:882px;
  width:0px;
  height:0px;
}
#u177_seg0 {
  position:absolute;
  left:-149px;
  top:-4px;
  width:153px;
  height:8px;
}
#u177_seg1 {
  position:absolute;
  left:-154px;
  top:-10px;
  width:20px;
  height:20px;
}
#u178 {
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:329px;
  top:852px;
  width:0px;
  height:0px;
}
#u179_seg0 {
  position:absolute;
  left:-4px;
  top:-26px;
  width:8px;
  height:26px;
}
#u179_seg1 {
  position:absolute;
  left:-4px;
  top:-26px;
  width:277px;
  height:8px;
}
#u179_seg2 {
  position:absolute;
  left:265px;
  top:-26px;
  width:8px;
  height:17px;
}
#u179_seg3 {
  position:absolute;
  left:259px;
  top:-24px;
  width:20px;
  height:20px;
}
#u180 {
  position:absolute;
  left:80px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:598px;
  top:920px;
  width:0px;
  height:0px;
}
#u181_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u181_seg1 {
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u182 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:528px;
  top:1000px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  position:absolute;
  left:-142px;
  top:-4px;
  width:142px;
  height:8px;
}
#u183_seg1 {
  position:absolute;
  left:-142px;
  top:-4px;
  width:8px;
  height:22px;
}
#u183_seg2 {
  position:absolute;
  left:-149px;
  top:10px;
  width:15px;
  height:8px;
}
#u183_seg3 {
  position:absolute;
  left:-154px;
  top:4px;
  width:20px;
  height:20px;
}
#u184 {
  position:absolute;
  left:-132px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:528px;
  top:1000px;
  width:0px;
  height:0px;
}
#u185_seg0 {
  position:absolute;
  left:-142px;
  top:-4px;
  width:142px;
  height:8px;
}
#u185_seg1 {
  position:absolute;
  left:-142px;
  top:-74px;
  width:8px;
  height:78px;
}
#u185_seg2 {
  position:absolute;
  left:-203px;
  top:-74px;
  width:69px;
  height:8px;
}
#u185_seg3 {
  position:absolute;
  left:-203px;
  top:-88px;
  width:8px;
  height:22px;
}
#u185_seg4 {
  position:absolute;
  left:-209px;
  top:-93px;
  width:20px;
  height:20px;
}
#u186 {
  position:absolute;
  left:-188px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:598px;
  top:1038px;
  width:0px;
  height:0px;
}
#u187_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u187_seg1 {
  position:absolute;
  left:-219px;
  top:88px;
  width:223px;
  height:8px;
}
#u187_seg2 {
  position:absolute;
  left:-224px;
  top:82px;
  width:20px;
  height:20px;
}
#u188 {
  position:absolute;
  left:-114px;
  top:84px;
  width:100px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:329px;
  top:1160px;
  width:0px;
  height:0px;
}
#u189_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u189_seg1 {
  position:absolute;
  left:-73px;
  top:46px;
  width:77px;
  height:8px;
}
#u189_seg2 {
  position:absolute;
  left:-73px;
  top:46px;
  width:8px;
  height:165px;
}
#u189_seg3 {
  position:absolute;
  left:-73px;
  top:203px;
  width:23px;
  height:8px;
}
#u189_seg4 {
  position:absolute;
  left:-65px;
  top:197px;
  width:20px;
  height:20px;
}
#u190 {
  position:absolute;
  left:-119px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:329px;
  top:1285px;
  width:0px;
  height:0px;
}
#u191_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u191_seg1 {
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u192 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
