body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:894px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:894px;
}
#u260 {
  position:absolute;
  left:2px;
  top:439px;
  width:1853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:994px;
}
#u261 {
  position:absolute;
  left:0px;
  top:1579px;
  width:1858px;
  height:994px;
}
#u262 {
  position:absolute;
  left:2px;
  top:489px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:572px;
}
#u263 {
  position:absolute;
  left:1858px;
  top:1579px;
  width:1501px;
  height:572px;
}
#u264 {
  position:absolute;
  left:2px;
  top:278px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  position:absolute;
  left:1938px;
  top:50px;
  width:315px;
  height:20px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
