body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:894px;
}
#u293 {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:894px;
}
#u294 {
  position:absolute;
  left:2px;
  top:439px;
  width:1853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:994px;
}
#u295 {
  position:absolute;
  left:0px;
  top:1579px;
  width:1858px;
  height:994px;
}
#u296 {
  position:absolute;
  left:2px;
  top:489px;
  width:1854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:572px;
}
#u297 {
  position:absolute;
  left:1858px;
  top:1579px;
  width:1501px;
  height:572px;
}
#u298 {
  position:absolute;
  left:2px;
  top:278px;
  width:1497px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  position:absolute;
  left:1938px;
  top:50px;
  width:315px;
  height:20px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
